<div class="content-panel">
   <div class="panel">
      <mat-toolbar color="primary">
         <mat-toolbar-row>
            <i class="material-icons">dehaze</i>
            <span>People</span>
         </mat-toolbar-row>
      </mat-toolbar>
      <mat-list>
         <mat-list-item> 
            <i class="material-icons">insert_emoticon</i>
            Pepper 
         </mat-list-item>
         <mat-list-item>
            <i class="material-icons">insert_emoticon</i>
            Salt 
         </mat-list-item>
         <mat-list-item> 
            <i class="material-icons">insert_emoticon</i>
            Paprika 
         </mat-list-item>
      </mat-list>
   </div>
   <div class="panel">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
           <i class="material-icons">dehaze</i>
           <span>People</span>
        </mat-toolbar-row>
      </mat-toolbar>
      <mat-card>
         <mat-card-title>
            The name of the subject
         </mat-card-title>
         <mat-card-content>
            <mat-list>
               <mat-list-item>
                  <h4 matLine>Some attribute</h4>
                  <p matLine>The value</p>
               </mat-list-item>
               <mat-list-item>
                  <h4 matLine>Other attribute</h4>
                  <p matLine>The other value</p>
               </mat-list-item>
               <mat-list-item>
                  <h4 matLine>Last attribute</h4>
                  <p matLine>The third value</p>
               </mat-list-item>
            </mat-list>
         </mat-card-content>
      </mat-card>
   </div>
</div>
