/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.material-icons {padding-right: 1em;}
mat-progress-spinner{
    margin: 50px auto;
}
mat-list-item{
   cursor: pointer;
   &.selected {
      background-color: lightblue;
   }
}

